@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@600&display=swap');

:root {
    --cor-primaria: #1e1e47;
    --cor-secundaria: #cad1ef;
    --cor-border: #333376;
    --cor-shadow: #5963b9;
    --cor-hover-botao: #828ffd;

    --fonte-primaria: 'Roboto Slab', serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
 }

body {
    width: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(#0b0b28, #1e1e47, #223279);
}

.cabecalho {
    padding: 1% 0% 0% 5%;
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 40px;
    gap: 22px;
}

.titulo__cabecalho {
    font-size: 2.5rem;
    font-family: var(--fonte-primaria);
    text-decoration: none;
    font-weight: 600;
    color: var(--cor-secundaria);
}

.apresentacao {
    display: flex;
    justify-content: space-around;
}

textarea {
    resize: none;
}

::placeholder { color: var(--cor-secundaria); }
    .input-texto:focus {
        outline: none;
    }

.input-texto {
    margin-top: 80px;
    background-color: transparent;
    padding: 1rem;
    height: 15rem;
    font-size: 1.375rem;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    font-weight: 400;
    color: var(--cor-secundaria);
    border: none;
}

.informacao {
    margin-left: 15px;
}

.mensagens-erro li::before {
    content: url(../images/exclamation2.png);
    width: 16px;
    height: 17px;
    vertical-align: middle;
}

.mensagens-erro li {
    font-size: 1.1rem;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    font-weight: 400;
    color: var(--cor-secundaria);
    margin-left: 25px;
}

.botoes {
    display: flex;
    flex-direction: row;
    margin-top: 57px;
    margin-left: 15px;
}

button {
    width: 325px;
    height: 60px;
    border: 2px solid var(--cor-border);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 3px 5px 12px var(--cor-shadow);
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
}

button:hover {
    transition: 0.5s;
    transform: scale(1.1);
    opacity: 80%;
}

.btn-codificar {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.btn-decodificar {
    margin-left: 30px;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.apresentacao__resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 20px 0;
    border-radius: 30px;
    padding: 2rem;
    height: 25rem;
    text-align: center;
    box-shadow: 12px 18px 35px var(--cor-shadow);
}

.resultado {
    position: relative;
    border-radius: 30px;
    padding: 4rem;
    font-size: 1.375rem;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    font-weight: 400;
    color: var(--cor-primaria);
}

.resultado:focus {
    outline: none;
}

.resultado:placeholder-shown {
    background-image: url(/images/resultado-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    border: none;
}

.resultado:not(:placeholder-shown) {
    background-color: white;
    border: none;
}

.invisivel {
    display: none;
}

.btn-copiar {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

footer {
    text-align: center;
    margin-top: 9rem;
    margin-bottom: 3rem;
}

.redes {
    display: inline;
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    font-weight: 600;
    color: var(--cor-secundaria);
}

.redes * {
    vertical-align: middle;
}

.redes p {
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 4% 0% 1% 0%;
}

.redes a {
    margin: 5px 15px;
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    font-weight: 600;
    color: var(--cor-secundaria);
}

.redes a:hover {
    transition: 0.5s;
    opacity: 70%;
    color: var(--cor-hover-botao);
}

.credito {
    padding: 2% 0% 3% 0%;
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    font-weight: 600;
    color: var(--cor-secundaria);
}

@media screen and (max-width: 1200px) {
    * {
        font-size: 20px;
    }
    .cabecalho {
        display: block;
        margin: 35px 0 0 25px;
    }
    .main {
        display: inline;
        margin: 0 auto;
        text-align: center;
    }
    .input-texto {
        margin-top: 5rem;
        max-width: 80%;
        height: 20%;
    }
    .informacao {
        margin: 0 auto;
    }
    .mensagens-erro li {
        font-size: 18px;
        margin: 0 auto;
    }
    .botoes {
        display: inline;
        margin: 15px auto;
    }
    button {
        height: 50px;
        font-weight: bold;
    }
    button:hover {
        transition: 0.5;
        transform: none;
        opacity: 80%;
    }
    .btn-codificar, .btn-decodificar {
        width: 60%;
        margin: 15px auto;
    }
    .apresentacao__resultado {
        margin: 20px auto;
        width: 75%;
        height: 30%;
        padding: 1rem;
    }
    .resultado {
        width: 90%;
        height: 30%;
    }
    .resultado:placeholder-shown {
        background-image: url(../img/resultado-bg-mw480.png);
    }
    .btn-copiar {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .invisivel {
        display: none;
    }
    footer {
        margin: 2rem auto;
    }
    .redes {
        font-size: 16px;
    }
    .redes p {
        margin-bottom: 10px;
    }
    .redes a {
        margin: 5px;
    }
    .credito {
        font-size: 14px;
        margin-top: 10px;
    }
}